<h1>Edit game</h1>

<form id="edit-game" name="game">
  <div class="field">
    <label for="[property_name"> [property_name:</label>
    <input type="text" name="[property_name" id="[property_name" value="<%= [property_name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Game" />
  </div>

</form>

<a href="#/index">Back</a>
